{% extends "crud/base.html" %}

{% block content %}
<div class="row">
    <div class="col-4">
        <h4 class="text-center alert alert-info">Add Guest</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-8">
        <h4 class="text-center alert alert-info">List Guest</h4>
        {% if guest %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nama Lengkap</th>
                    <th scope="col">Email</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in guest %}
                <tr>
                    <th scope="row">{{row.id}}</th>
                    <td>{{row.nama}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.alamat}}</td>
                    <td>
                        <a href="{% url 'update_data' row.id %}" class="btn btn-sm btn-warning">Edit</a>
                        <form action="{% url 'delete_data' row.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Record Data</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}