{% extends "crud/base.html" %}

{% block content %}
<div class="row">
    <div class="col-8 offset-2">
        <h4 class="text-center alert alert-info">Update Guest</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'add' %}" class="btn btn-info">Back to Home</a>
        </form>
    </div>
</div>
{% endblock content %}